.ContractCard {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
  color: black;
  margin-bottom: 2em;
  border: 2px solid black;
  box-shadow: 0;
  border-radius: 0px;

  label {
    white-space: nowrap;
    flex-basis: 100%;

  }

  .RecipientAddress {
    flex: 1;
  }
Canvas.identicon{
  border-radius: 100px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 3px;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

}


  input {
    margin-bottom: 1em;
    font-size:1em;
    font-family: 'Open Sans';
    padding: .5rem;
    color: black;
    border: 2px solid black;
    width: 100%;

  }
  .ContractCode {
    margin-bottom: 1em;
    font-size:1em;
    font-family: 'Open Sans';
    padding: .5rem;
    color: black;
    border: 2px solid black;
    width: 100%;
  }
  .AddBtn {
    font-size:1em;
    color: white;
    line-height:1;
    padding: .6rem 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    background-color: black;
    width: 100%;
  }

}
.SideArrow{
  background-color: #183653;
}

.SideArrow:hover{
  background-color: #275d7a;
}
.SideArrowLight{
  background-color: #dadddf;
}

.SideArrowLight:hover{
  background-color: rgb(245, 42, 52);
}
.Chip:hover{
  color: rgb(245, 42, 52) !important;
}
.Chip{
  cursor: pointer !important;
}
.chipset span:hover{
border-color: rgb(245, 42, 52) !important
}
