.ContractList {
  padding: 0px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
  color: black;


  label {
    white-space: nowrap;
    flex-basis: 100%;

  }

  .RecipientAddress {
    flex: 1;
  }



  input {
    margin-bottom: 1em;
    font-size:1em;
    font-family: 'Open Sans';
    padding: .5rem;
    color: black;
    border: 2px solid black;
    width: 100%;

  }
  .ContractCode {
    margin-bottom: 1em;
    font-size:1em;
    font-family: 'Open Sans';
    padding: .5rem;
    color: black;
    border: 2px solid black;
    width: 100%;
  }
  .AddBtn {
    font-size:1em;
    color: white;
    line-height:1;
    padding: .6rem 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    background-color: black;
    width: 100%;
  }
}
